*
*/
!.gitignore
!cross_country_kfold_solve_all_outcomes_country_fold_DENSE_pop_weight=True.pkl
!cross_country_nl_solve_all_outcomes_country_fold_dmsp_hist_bins_GPW_pop_weighted.pkl
!cross_country_rcf_and_nl_solve_all_outcomes_country_fold_DENSE_pop_weight=True_dmsp_hist_bins_GPW_pop_weighted.pkl
!kfold_solve_adm0_model_full_pop_weighted_feats_DENSE.pkl
!dmsp_hist_bins_GPW_pop_weighted.pkl
!kfold_solve_adm0_level_pop_weighted_feats_rcf_nl_dmsp_hist_bins_GPW_pop_weighted.pkl
!within_country_demeaned_kfold_solve_all_outcomes_country_fold_DENSE_pop_weight=True.pkl
!within_country_nl_demeaned_solve_all_outcomes_country_fold_dmsp_hist_bins_GPW_pop_weighted.pkl
!within_country_rcf_and_nl_demeaned_solve_all_outcomes_country_fold_DENSE_pop_weight=True_dmsp_hist_bins_GPW_pop_weighted.pkl
